.navbar-inverse .navbar-nav > li > a
	{ color: #dedede; }
	
.navbar-inverse .navbar-brand
	{ color: #6282a0; }	
		
table.map
	{ border-collapse: separate; border-spacing: 5px; }		
		
table.map td
	{ width: 75px; height: 75px; position: relative; left: -5px; background-color: gray; border: solid 1px white; }
	
table.map td.position
	{ background-color: blue; }		
	
table.moves td
	{ vertical-align: middle; text-align: center; font-size: 36px; }
	
table.moves td.hit
	{ color: yellowgreen; }
	
table.moves td.miss
	{ color: red; }				

body {
	background-image: url(img/hompage.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.main-box {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}